<h1>Learning Objectives</h1>

<% if @objectives.empty? %>
  <h2>No objectives exist in the database</h2>
<% else %>
  <% @objectives.each do |objective| %>
  WEEK <%= objective.week_id %>
  <ul>
    <li><%= objective.name %>

          <%= form_for Rank.new, as: :rank do |f| %>
            <%= f.hidden_field :objective_id, :value => objective.id %>
            <%= f.submit %>
          <% end %>
    </li>
  </ul>
  <% end %>
<% end %>


<a href="/">Homepage</a>

