
<h1><%= @user.name.capitalize %>'s Profile Page</h1>
<img src="<%=@user.picture_url %>">
<h2>
  <ul>
    <li><a href="<%=@user.github_url %>">GitHub</a></li>
    <li><a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= @client_id %>">Gists</a></li>
    <li><a href="https://www.pivotaltracker.com/signin">Pivotal Tracker</a></li>
    <% if @user.personal_url != nil %>
      <li><a href="<%=@user.personal_url %>"><button>Personal Website</a></li>
    <% end %>
  </ul>
</h2>

<% if @user.is_admin? %>
 <h2>Admin Controls</h2>
 <p><a href="/objectives/new">Add New Objective</a></p>
 <p><a href="/objectives">Delete An Objective</a></p>
<% end %>

  <h3><%= @user.name %>'s Learning Objectives</h3>
  <ul>
    <li><% @user.ranks.each do |rank| %>
        <%= rank.objective.name %>:<%= rank.objective.value %>
        <% end %>
    </li>
  </ul>

<a href="/">Home Page</a>
<a href="/users/<%= @user.id %>/edit">Edit Account</a>



